$suits: 'hearts', 'clubs', 'diamonds', 'spades';

.card {
  height: $card-height;
  width: $card-width;
  position: absolute;
  background-size: 100%;

  // dynamic generation of all cards
  @each $suit in $suits {
    @for $i from 1 through 13 {
      &.#{$suit}-#{$i} {
        background-image: url("../assets/cards/#{$suit}-#{$i}.svg");
      }
    }
  }

  &:hover {
    z-index: 50;
  }
}

.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: linear-gradient(180deg, rgba(32,233,104,1) 0%, rgba(13,167,236,1) 99.8% );
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

.selected-card-wrapper {
  .selected-cards {
    height: calc(300px + 4px);
    width: calc(216px + 4px);
    border: 2px dashed white;
    border-radius: 6px;
    position: relative;
  }
}
